.sideBarPopUpButton {
  position: fixed;
  height: 60px;
  width: 60px;
  bottom: 80px;
  left: 10px;
  font-size: xx-large;
  background-color: gainsboro;
  border-radius: 50%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.sideBarPopUpButton img {
  height: 60%;
}

.sideBarPopUpButton:hover,
.sideBarPopUpButton:focus {
  background-color: rgb(149, 149, 149);
}

.sideBarBox {
  background-color: white;
  width: 250px;        
  flex-shrink: 0;      
  overflow: hidden;   
  transition: width 0.3s ease;
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding: 10px;
  align-items: center;
  margin: 0;
  overflow-y: hidden;
  padding-bottom: 100px;
  box-shadow: inset -10px 0 10px -10px rgba(0, 0, 0, 0.3);
}

.sortButtons {
  overflow-y: auto;
  padding-bottom: 10px;
  padding-top: 10px;
  width: 100%;
}

.close {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
}

.close img {
  margin: 0;
}

input {
  width: 100%;
  margin-bottom: 10px;
  font-size: large;
}

.sideBarBox > * {
  min-width: 0;
}

.sideBarBox button {
  width: 100%;
  margin-bottom: 5px;
  background-color: rgb(0, 0, 0, 0.05);
  border: none;
  border-radius: 2px;
  font-size: large;
  cursor: pointer;
  transition: background-color 0.4s ease, transform 0.2s ease;
}

.sideBarBox button:hover,
.sideBarBox button:focus {
  background-color: rgb(0, 0, 0, 0.2);
}

.sideBarBox.hidden {
  width: 0;     
  overflow: hidden;    
  padding: 0;
  overflow: hidden;
}


.closeButtonBox {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin: 0;
}

.closeButtonBox .close {
  width: auto;
  border-radius: 50%;
  aspect-ratio: 1;
  background: none;
  border: none;
  font-size: large;
}

.closeButtonBox button:hover {
  background-color: rgb(0, 0, 0, 0.3);
}

.sideBarBox button.active {
  background-color: rgb(0, 0, 0, 0.3);
  transform: scale(1.1);
}